In [1]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [2]:
# You have to call the function for the function to print
# Call the function.
say_hello()

Hello!

In [5]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
# Add variable 'something', it will print whatever we have added insdie the parentheses of function. Does not have to be 'something'
def say_something(something):
    print(something)

In [8]:
say_something('Hello World!')

Hello World!

In [9]:
# Like the hello world!, we can also pass a variable in function
Jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

In [11]:
# Define a function that calculates the percentage of students that passed both 
# math and reading and returns the passing percentage when the function is called.
passing_math_count = 29370
total_student_count = 39170

# Call the function.
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [12]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [13]:
# Import pandas.
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [17]:
# Using map() to change B to A, C to B, and D to C
# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [18]:
# Going to iterate thru a list of grades and format each one to the nearest whole number percent
# Using the format() function.
# The format comes from after the colon, '.0' means no decimal, f means float
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [19]:
#
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [20]:
# Format the "Total Students" to have the comma for a thousands separator.
# 
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

NameError: name 'district_summary_df' is not defined