In [2]:
# List of high schools
high_schools = ["Hernandez High School", "Fiqueroa High School", "Wilson High School", "Wright High School"]

In [3]:
# Iterate thru list to print
for school in high_schools:
    print(school)

Hernandez High School
Fiqueroa High School
Wilson High School
Wright High School

In [4]:
# Dictionariy of the high schools and the type of school
high_school_types = [{"High School": "Griffin", "Type": "District"},
                     {"High School": "Figueroa", "Type": "District"},
                     {"High School": "Wilson", "Type": "Charter"},
                     {"High School": "Wright", "Type": "Charter"}]

In [5]:
# Iterate through list of dictionaries
for types in high_school_types:
    print(types)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [7]:
import pandas as pd

In [10]:
# List of High Schools
high_schools = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandex High School",
               "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School",
                "Pena High School", "Wright High School", "Rodriguez High School", "Ford High School", "Thomas High School"]
for school in high_schools:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandex High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Ford High School
Thomas High School

In [11]:
# Create a Pandas Series from a list
school_series = pd.Series(high_schools)